<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: brown;">
  <div class="container">
    <a class="navbar-brand" href="login">Sistema Escolar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="login">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="registro">Registrarme</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="jumbotron jumbotron-fluid" style="background-color: burlywood;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <h1 class="display-4 fw-bold">Sistema escolar</h1>
        <p class="lead text-muted">Para instituciones educativas</p>
        <p class="text-muted">Ingresa el código de verificación que se mandó a tu correo electrónico para poder hacer uso del sistema</p>
      </div>

      <div class="col-lg-6" style="margin-top: 10%; margin-bottom: 30%;">
        <div class="card">
          <div class="card-body">
            <form (submit)="onCodigo()">
              <div class="form-group mb-4">
                <h5>Introduce el código:</h5>
                <input type="text" [(ngModel)]="codigoObj" name="codigo" class="form-control" placeholder="123456" required>
              </div>

              <button type="submit" class="btn btn-block mb-4 text-white" style="background-color: brown;">Verificar Código</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
