<section>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-4 offset-md-4">
                <div class="d-grid mx-auto">
                    @if (rol == "1" || rol == "3") { <a class="btn btn-outline-success d-flex align-items-center justify-content-center" [routerLink]="['/agregar']">
                            <mat-icon>add_circle</mat-icon>AÑADIR
                    </a>   }     
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        @if (rol == "1" || rol == "3") { <th>Acciones</th> }
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let estado of estados">
                        <td>{{ estado.id }}</td>
                        <td>{{ estado.nombre }}</td>
                        @if (rol == "1" || rol == "3"){<td>
                        <div class="btn-group" role="group">
                            @if (rol == "1" || rol == "3"){<button type="button" class="btn btn-outline-warning" (click)="editarEstado(estado)">
                                <mat-icon>edit</mat-icon>
                            </button>}
                            @if (rol == "1"){<button type="button" class="btn btn-outline-danger" (click)="eliminarEstado(estado)">
                                <mat-icon>delete</mat-icon>
                            </button>}
                        </div>
                        </td>}
                    </tr>
                    </tbody>
                </table>
            </div>    
        </div>
    </div>
  </section>