<section>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-4 offset-md-4">
                <div class="d-grid mx-auto">
                    <h1 class="d-flex align-items-center justify-content-center">ROLES</h1>     
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let rol of roles">
                        <td>{{ rol.id }}</td>
                        <td>{{ rol.name }}</td>
                        
                    </tr>
                    </tbody>
                </table>
            </div>    
        </div>
    </div>
  </section>