<section class="jumbotron jumbotron-fluid" style="background-color: rgb(255, 255, 255);">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-10" style="margin-top: 10%; margin-bottom: 20%;">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="grupoForm">
                <div class="form-group">
                  <h1 class="display-4 text-center">Agregar Grupo</h1>
                  <div class="form-check mb-3">
                    <label for="nombre">Nombre:</label>
                    <input formControlName="nombre" id="nombre" name="nombre" class="form-control" [class.is-invalid]="grupoForm.get('nombre')?.invalid && grupoForm.get('nombre')?.touched" placeholder="Ej. Universiada Tecnologica" required minlength="3" [(ngModel)]="grupoObj.nombre">
                    <div class="invalid-feedback" *ngIf="grupoForm.get('nombre')?.hasError('required') && grupoForm.get('nombre')?.touched">
                      El nombre es obligatorio.
                    </div>
                    <div class="invalid-feedback" *ngIf="grupoForm.get('nombre')?.hasError('minlength') && grupoForm.get('nombre')?.touched">
                      El nombre debe tener al menos 3 caracteres.
                    </div>
                    <div class="invalid-feedback" *ngIf="grupoForm.get('nombre')?.hasError('maxlength') && grupoForm.get('nombre')?.touched">
                      El nombre no debe exceder los 50 caracteres.
                    </div>
                    <div class="invalid-feedback" *ngIf="grupoForm.get('nombre')?.hasError('pattern') && grupoForm.get('nombre')?.touched">
                      El nombre debe contener solo letras y espacios.
                    </div>
                  </div>
                  <div class="form-check mb-3">
                        <label for="clave">Clave:</label>
                        <input formControlName="clave" id="clave" name="clave" class="form-control" [class.is-invalid]="grupoForm.get('clave')?.invalid && grupoForm.get('clave')?.touched" placeholder="Ae3Fds" required minlength="3" [(ngModel)]="grupoObj.clave">
                        <div class="invalid-feedback" *ngIf="grupoForm.get('clave')?.hasError('required') && grupoForm.get('clave')?.touched">
                        La clave es obligatoria.
                        </div>
                        <div class="invalid-feedback" *ngIf="grupoForm.get('clave')?.hasError('minlength') && grupoForm.get('clave')?.touched">
                        La clave debe tener al menos 3 caracteres.
                        </div>
                        <div class="invalid-feedback" *ngIf="grupoForm.get('clave')?.hasError('maxlength') && grupoForm.get('clave')?.touched">
                        La clave no debe exceder los 10 caracteres.
                        </div>
                  </div>
                  <div class="form-check mb-3">
                      <label for="carrera">Carrera:</label>
                      <select formControlName="carrera_id" id="carrera" name="carrera" class="form-control" [class.is-invalid]="grupoForm.get('carrera_id')?.invalid && grupoForm.get('carrera_id')?.touched" required [(ngModel)]="grupoObj.carrera_id">
                        <option value="" disabled selected>Selecciona un carrera</option>
                        <option *ngFor="let carrera of carreras" [value]="carrera.id">{{carrera.nombre}}</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="grupoForm.get('carrera_id')?.hasError('required') && grupoForm.get('carrera_id')?.touched">
                        El carrera es obligatorio.
                      </div>
                  </div>
                  <div class="form-check mb-3">
                    <label for="turno">turno:</label>
                    <select formControlName="turno_id" id="turno" name="turno" class="form-control" [class.is-invalid]="grupoForm.get('turno_id')?.invalid && grupoForm.get('turno_id')?.touched" required [(ngModel)]="grupoObj.turno_id">
                      <option value="" disabled selected>Selecciona un turno</option>
                      <option *ngFor="let turno of turnos" [value]="turno.id">{{turno.turno}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="grupoForm.get('turno_id')?.hasError('required') && grupoForm.get('turno_id')?.touched">
                      El turno es obligatorio.
                    </div>
                </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4 offset-md-4">
                        <div class="d-grid mx-auto">
                            <button type="submit" class="btn btn-outline-success btn-block d-flex align-items-center justify-content-center" 
                              (click)="agregarGrupo()">
                                <mat-icon>save</mat-icon> Agregar
                            </button> 
                            <hr>
                            <a class="btn btn-outline-danger btn-block d-flex align-items-center justify-content-center" [routerLink]="['/layout/grupos']">
                                <mat-icon>cancel</mat-icon> Cancelar
                            </a>     
                        </div>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  