<section>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-4 offset-md-4">
                <div class="d-grid mx-auto">
                    <a class="btn btn-outline-success d-flex align-items-center justify-content-center" [routerLink]="['/carreras/agregar']">
                            <mat-icon>add_circle</mat-icon>AÑADIR
                    </a>        
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Clave</th>
                        <th>Escuela_ID</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let carrera of carreras">
                        <td>{{ carrera.id }}</td>
                        <td>{{ carrera.nombre }}</td>
                        <td>{{ carrera.clave }}</td>
                        <td>{{ carrera.escuela_id }}</td>
                        <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-warning" (click)="editarCarrera(carrera)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button type="button" class="btn btn-outline-danger" (click)="eliminarCarrera(carrera)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>    
        </div>
    </div>
  </section>